* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


header {
    width: 100%;
    text-align: center; /* Center align text */
    padding: 20px 0; /* Example padding */
    flex: 0 0 auto;
  }

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
  }
  
  #cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    padding: 1rem;
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
    flex: 1 0 auto;
  }
  
  section {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  h2 {
    font-size: 1.5rem;
    color: #333;
  }
  
  img {
    border-radius: 50%;
    margin-bottom: 1rem;
  }
  
  p {
    font-size: 1rem;
    color: #666;
  }

  footer {
    flex: 0 0 auto;
    width: 100%;
    text-align: center;
    padding: 20px 0;
  }