@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Rock+Salt&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Sansita", sans-serif;
}

/* mobile **************************/
header {
	background-color: steelblue;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

img {
    padding: 1rem;
}

header span {
    font-size: 2.5rem;
}

header,
main {
	margin: 0 auto;
}

h2 {
    background-color: steelblue;
    color: white;
    text-align: center;
    padding: 1rem;
}

section {
    border: 1px solid #36454f;
    text-align: left;
    margin: 1rem;
}
h1 {
    text-align: center;
    text-decoration: underline;
	font-size: 2rem;
}

nav {
	background-color: #36454f;
	margin: 0 auto;
	max-width: 800px;
}
nav ul {
	list-style-type: none;
}
nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
}

nav a:hover {
	text-decoration:overline;
}

.active {
	color: yellow;
}
.parent ul {
    list-style-type: none;
    padding: 1rem;
}

footer {
    text-align: center;
    background-color: steelblue;
    color: white;
    padding: 1rem;
}

footer p {
    padding: 10px;
}

#myButton::before {
	content: "=";
}

#myButton {
	font-size: 2rem;
	background: none;
	border: none;
	color: black;
	cursor: pointer;
	width: 100%;
	text-align: right;
	padding: .25rem 2vw;
}
@media only screen and (max-width: 640px) {
	
	ul.menuLinks li a {
		display: block;
	}

	ul.menuLinks {
		display: none;
	}

	ul.menuLinks.open {
		display: block;
	}

	#myButton.open::before {
		content: "X";
	}
}

#mode {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 3rem;
	cursor: pointer;
	font-size: 2rem;
}

.hero-image-container {
    position: relative;
    max-width: 100%;
}

.overlay-text {
    position: absolute;
    top: 25%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.overlay-text h2 {
    margin: 0;
}